.row{
  align-items: center;
  display: flex;
  justify-content: center;
}
.activeColor{
  margin: 10px 10px;
  padding-top:10px;
  height: 30px;
  width: 50%;
  border: 2px solid rgb(230, 26, 26);
  cursor: pointer;
  text-align: center;
}
.pointer{
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
}